@import '../_variables';


.page{
.welcome{
  background-color: $background ;
  color: $primary;
  font-weight: 800;
  font-size: 36px;
  padding: 100px
}
}
.ab{
margin-top:10px;
background-color: #162d44 ;
padding: 100px;

  .welcome2{
    background-color: #162d44 ;
    color: $secondary;
    font-weight: 800;
    font-size: 36px;
  }
  .btn{
    @include button2(15px, 40px);
    margin-top: 20px;
  }
}
.product-card {
  max-width: 300px;
  margin: 50px auto; /* Centers the card horizontally */
  border: 2px solid #003333; /* Custom border */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}
.bvideo{

  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about{
  padding: 15px;
  border-radius: 30px;
  width: 50%;
  text-align: left;
  margin: auto;
  color: white;
  font-weight:200;
font-size: 24px;
}
